<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 40px">
      <div class="section">
        <div class="center-align teal-text title">Editar Curriculum</div>
      </div>
      <div class="divider"></div>
      <%= form_for @curriculum do |f| %>
        <%= render "curriculums/form", f: f %>
        <div class="fixed-action-btn">
          <%= button_tag( :class => "btn-floating btn-large teal darken-2") do %>
            <i class="large material-icons">save</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>