<%= form_tag import_scholarships_path, multipart: true do %>
  <div class="divider"></div>
  <div class="section">
    <div class="row">
      <div class="col s12">
        <%= select_tag 'scholarship_oportunity_id', options_for_select(scholarship_oportunities.collect{ |u| [u.name, u.id] }), {:include_blank => "Convocatoria"}%>
      </div>
    </div>
    <div class="row">
      <div class="col s12 file-field input-field">
        <div class="col s3 btn-small">
          Archivo
          <%= file_field_tag :file,:style=>'padding-top:10px', class: 'form-control' %><br>
        </div>
        <input class="col s8 offset-s1 file-path validate" type="text" placeholder="Selecciona el archivo de Excel con los exbecarios"/>
      </div>
    </div>
  </div>
  <div class="section"> 
    <div class="row zeroMargin center-align">
      <%= submit_tag 'Procesar', class: 'btn-small'%>
    </div>
  </div>
<% end %>
