<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <div class="center-align teal-text title">Carga Masiva de Exbecarios</h4>
      </div>
      <div class="divider"></div>
      <%= form_tag import_former_students_path, multipart: true do %>
        <div class="divider"></div>
        <div class="row" style="margin-top: 20px">
          <div class="col s12 file-field input-field">
            <div class="col s3 btn-small">
              Archivo
              <%= file_field_tag :file,:style=>'padding-top:10px', class: 'form-control' %><br>
            </div>
            <input class="col s8 offset-s1 file-path validate" type="text" placeholder="Selecciona el archivo de Excel con los exbecarios"/>
          </div>
        </div>
        <div class="section"> 
            <div class="row zeroMargin center-align">
              <%= submit_tag 'Procesar', class: 'btn-small'%>
            </div>
          </div>
      <% end %>

      <div class="col s12 m4 l1"><p></p></div>
    </div>
  </div>
</main>
