<main style="padding-left: 240px">
<div class="row">
  <div class="col s12"><p></p></div>
  <div class="col s12 m4 l2"><p></p></div>
  <%= render "student_info", user: @user %>
  <div class="col s12 m4 l2"><p></p></div>
</div>
</main>
