<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <% if current_user.is_admin_or_super_admin?  %>
          <div style="position: absolute; padding-left: 20px">
            <%= link_to @user.former_student? ? former_students_path : students_path do %>
              <i class="material-icons left teal-text" style="font-size: 35px; line-height: 48px">arrow_back</i>
            <% end %>
          </div>
        <% end %>
        <div class="center-align teal-text title">
          Perfil
        </div>
      </div>
      <div class="divider"></div>
      <%= render "student_info", user: @user, student: @student %>
    </div>
  </div>
  <% if not current_user.company? %>
    <div class="fixed-action-btn">
      <%= link_to edit_student_url(@student), :class => "btn-floating btn-large teal darken-2" do %>
        <i class="large material-icons">mode_edit</i>
      <% end %>
    </div>
  <% end %>
</main>
