<h1>Pages#home</h1>

<% if current_user %>

    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
<% else %>
	<a href="/users/sign_up" class="waves-effect waves-light btn">Registra becados</a>
	<a href="/users/sign_in" class="waves-effect waves-light btn">Iniciar Sesion</a>
    <!--<%= link_to 'Registra becados', new_user_registration_path %>
    <%= link_to 'Iniciar Sesión', new_user_session_path %>-->
<% end %>