<div id="filtered-results">
  <% @job_postings.each do |job_posting| %>
    <%= link_to job_posting_path(job_posting), :class => "clickableCard" do %>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <%= image_tag (job_posting.company.logo.attached? ? job_posting.company.logo : 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi4DmuEiqgpdMPdI839ak7nqOyEHlnwt2nQWTLtI8UzuxgsYKH'), class: "companyLogo" %>
          </div>
          <div class="divider"></div>
          <div class="card-content">
            <div><strong><%= job_posting.title %></strong></div>
            <div><%= job_posting.company.name %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
