<main style="padding-left: 240px">
  <div class="row">
    <div class="col s12" style="padding-top: 20px;"><h4 class="center-align">Oportunidades laborales</h4></div>

    <div class="col s12" style="padding-top: 20px;"><h5>Filtros</h5></div>
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="row">
        <div class="col sm-6 inline">
          <%= f.label "Nombre vacante" %>
          <%= f.text_field(
            :search_name,
            class: 'filterrific-periodically-observed'
          ) %>
        </div>
      </div>
    <% end %>
    <%= render "list", job_postings: @job_postings %>
  </div>
</main>

