<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <div style="position: absolute; padding-left: 20px">
          <%= link_to job_postings_path do %>
            <i class="material-icons left teal-text" style="font-size: 35px; line-height: 48px">arrow_back</i>
          <% end %>
        </div>
        <div class="center-align teal-text title">Crear Vacante</div>
      </div>
      <div class="divider"></div>
      <div class="section">
        <%= render 'form', job_posting: @job_posting %>
      </div>
    </div>
</main>
