/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.btn-large {
    text-transform: none;
    font-weight: bold;
    width: 400px;
    box-shadow: 5px 10px;
}

.navfeature{
	background-color:#186860;
}

.btn{
    text-transform: none;
    font-weight: bold;
    width: 200px;
    box-shadow: 5px 10px;
    color: white;
}

.card-panel{
    box-shadow: 5px 5px;
}
