<footer class="indigo page-footer center <%= 'l-left-padding' if not current_user.nil? %>" style="background:#26a69a !important;">
  <div class="row" style="background:#26a69a">
      <span class="col s12 footer">© Todos los Derechos Reservados, I2T2</span>
      <span class="col s12 footer"><a class="footer" href="https://storage.googleapis.com/i2t2_public_data/Aviso%20de%20Privacidad.pdf">Aviso de Privacidad</a> | Contacto: antonio.hernandez@mtycic.org</span>
  </div>
</footer>
