<style>

	.font {
		font-family: Impact, Charcoal, sans-serif;
	}

	.font2 {
		font-family: Comic Sans MS, cursive, sans-serif;
	}

	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 70%;
	    height: 70%;
	}

	.site-footer{
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;   
	}

	.fontSize2{
		font-size:1vw;
	}

	.fontSize1{
		font-size:0.7vw;
	}

	.fontFooter{
		color: black;
	}

	.imgSize{
		width: 2010;
		max-height: : 30%;
	}

	.imgDiv{
		width: 200
		height: 200;
	}

</style>

<footer class="page-footer site-footer" style="background-color: #F0F8FF">
  	<div class="container">

		<!--<div class="imgDiv">
			<img class="responsive-img imgSize" src="https://storage.googleapis.com/production-bucket/Community767786/instances/EM018-Organizacion-1453826430896/InstancePicture/image_1453826431586.jpg">
		</div>-->
		<div class=" center font fontSize1 fontFooter">
			<p class="font2" style="width: 100%">I2T2 - Organismo del Gobierno del Estado de Nuevo León, creado en 2005, responsable de la promoción de políticas públicas en Ciencia, Tecnología e Innovación para ser una de las 25 regiones más competitivas del mundo en 25 años. .</p>
		</div>
  	</div>
  	<div class="footer-copyright">
	    <div class="container fontFooter center">
	    	© 2019 Copyright Text
	    </div>
	</div>
</footer>