<style>

	.font {
		font-family: Impact, Charcoal, sans-serif;
	}

	.font2 {
		font-family: Comic Sans MS, cursive, sans-serif;
	}

	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 70%;
	    height: 70%;
	}

	.site-footer{
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;   
	}

	.fontSize2{
		font-size:1vw;
	}

	.fontSize1{
		font-size:0.7vw;
	}

	.fontFooter{
		color: black;
	}

	.imgSize{
		width: 2010;
		max-height: : 30%;
	}

	.imgDiv{
		width: 200
		height: 200;
	}

	.body {
    display: flex;
    bottom: 0px;
    min-height: 10vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }

.absolute {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer2 {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
</style>
<!--div class="container body main absolute">
  <footer class="page-footer ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
  
              </div>
            </div>
          </div>
          <div class="footer-copyright">
          	<div class="copyright center">
	    		<div class="container fontFooter center">
	    			© 2019 Copyright Text
	    	 		<a class="grey-text text-lighten-4 "</a>
	    		</div>
			</div>
         
        </footer>
    </div>
-->



<footer class=" site-footer" style="background-color: #F0F8FF">
  	<div class="container ">

		<!--<div class="imgDiv">
			<img class="responsive-img imgSize" src="https://storage.googleapis.com/production-bucket/Community767786/instances/EM018-Organizacion-1453826430896/InstancePicture/image_1453826431586.jpg">
		</div>-->
		
	</div>
</footer>
