<footer class="indigo page-footer center" style="background:#26a69a !important;" class="<%= 'l-left-padding' if not current_user.nil? %>">
  <div class="footer-copyright" style="background:#26a69a">
    <div class="container" style="background:#26a69a">
      <span><a style='font-weight: bold;color:white;'>© Todos los Derechos Reservados, I2T2</a></span>
    </div>
  </div>
</footer>
