
<style>
  .buttonWidth{
   width:45%;
}
</style>

<nav>
    <div class="nav-wrapper #004d40 teal darken-4">
      <a href="/" class="brand-logo center">i2t2</a>
      <div >
      
    </div>
      <a href="" data-target="mobile-demo"  class="sidenav-trigger button-collapse show-on-large"><i class="material-icons ">menu</i></a>
      <!--<ul class="right hide-on-med-and-down">
        <li><a href="/">Iniciar Sesion</a></li>
        <li><a href="/">Registrarse</a></li>
      </ul>-->
      <% if current_user %>
          <ul class="right">
            <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete%></li>
          </ul>
          <% end %>
        <% if current_admin %>
          <ul class="right">
            <li><%= link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete%></li>
          </ul>
        <% end %>
    </div>

  </nav>


