
<style>
  .buttonWidth{
   width:45%;
}
</style>

<nav>
    <div class="nav-wrapper #004d40 teal darken-4">
      <a href="/" class="brand-logo center">i2t2</a>
      <div >
      
    </div>
      <a href="" data-target="mobile-demo"  class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>

  </nav>

  <ul class="sidenav" id="mobile-demo">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu show-on-large"></i></a>

    <div class="buttonWidth">
      <a class="waves-effect sidenav-close waves-light btn-flat buttonWidth"><i class="material-icons left">arrow_back</i></a>
    </div>
        <li><a href="">Home</a></li>
  </ul>

<script> $(".sidenav").sideNav(); </script>

