
<style>
  .buttonWidth{
   width:45%;
}
</style>

<nav>
    <div class="nav-wrapper #004d40 teal darken-4">
      <a href="/" class="brand-logo center">i2t2</a>
      <div >
      
    </div>
      <a href="" data-target="mobile-demo"  class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Nosotros</a></li>
      </ul>
    </div>

  </nav>

 
