<style>
  .buttonWidth{
   width:45%;
}
</style>

<% if current_user %>
  <nav>
    <div class="nav-wrapper" style="background:#26a69a">
      <a href="/" class="brand-logo center"></a>
      <div >
      
    </div>
      <a href="" data-target="mobile-demo"  class="sidenav-trigger button-collapse show-on-large"><i class="material-icons "></i></a>

          <ul class="right">
            <li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete%></li>
          </ul>
        
        
    </div>

  </nav>
<% end %>

<% if current_admin %>
  <nav>
    <div class="nav-wrapper" style="background:#26a69a">
      <a href="/" class="brand-logo center"></a>
      <div >
      
    </div>
      <a href="" data-target="mobile-demo"  class="sidenav-trigger button-collapse show-on-large"><i class="material-icons "></i></a>
        
          <ul class="right">
            <li><%= link_to 'Cerrar Sesión', destroy_admin_session_path, method: :delete%></li>
          </ul>
    </div>

  </nav>
<% end %>